@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}

.font-inter {
  font-family:
    var(--font-inter),
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-urdu {
  font-family:
    "Noto Nastaliq Urdu", "Noto Sans Arabic", "Al Qalam Taj Nastaleeq",
    "Jameel Noori Nastaleeq", "Nafees Web Naskh", "Al Qalam", "Jameel Noori",
    "Nafees", "Tahoma", "Arial Unicode MS", sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out;
}

@keyframes phoneFloat {
  0% {
    transform: translateY(0px) rotate(6deg);
  }

  50% {
    transform: translateY(-18px) rotate(4deg);
  }

  100% {
    transform: translateY(0px) rotate(6deg);
  }
}

.phone-float {
  animation: phoneFloat 6s ease-in-out infinite;
}
